<div class="flex flex-col justify-center items-center gap-5 h-screen w-screen">
  <h1 class="text-3xl">{{title}}</h1>
  <form class="flex flex-col gap-5">
    <div class="flex flex-col items-center justify-center">
      <div class="flex flex-col gap-5">
        <div class="flex flex-row gap-5 justify-center items-center">
          <p class="text-xl">Number 1:</p>
          <input type="number" [(ngModel)]="firstNumber" name="firstNumber" class="text-black text-center rounded-lg border-none py-2">
        </div>
        <div class="flex flex-row gap-5 justify-center items-center">
          <p class="text-xl">Number 2:</p>
          <input type="number" [(ngModel)]="secondNumber" name="secondNumber" class="text-black text-center rounded-lg border-none py-2">
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-8">
      <input type="submit" (click)="add()" value="+" class="flex items-center justify-center rounded-lg cursor-pointer w-10 bg-blue-600 hover:bg-blue-400 px-10 py-2 transition-all duration-500">
      <input type="submit" (click)="subtract()" value="-" class="flex items-center justify-center rounded-lg cursor-pointer w-10 bg-blue-600 hover:bg-blue-400 px-10 py-2 transition-all duration-500">
      <input type="submit" (click)="multiply()" value="x" class="flex items-center justify-center rounded-lg cursor-pointer w-10 bg-blue-600 hover:bg-blue-400 px-10 py-2 transition-all duration-500">
      <input type="submit" (click)="divide()" value="/" class="flex items-center justify-center rounded-lg cursor-pointer w-10 bg-blue-600 hover:bg-blue-400 px-10 py-2 transition-all duration-500">
    </div>
  </form>
  <p class="text-2xl">Result: {{result}}</p>
</div>